apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: dokuwiki
  namespace: dokuwiki
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
spec:
  tls:
  - hosts:
    - dokuwiki.{{ cluster.domain }}
    secretName: {{ cluster.name }}-tls
  rules:
  - host: dokuwiki.{{ cluster.domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: dokuwiki
          servicePort: 80
---
apiVersion: v1
kind: Secret
metadata:
  name: basic-auth
  namespace: dokuwiki
type: Opaque
data:
  auth: {{ cluster.basic_auth | b64encode }}
